# build
/bin/
/dist/
/tmp/
main
*.exe
*.dll
*.so

# IDE
.vscode/
.idea/

# deps
vendor/

# local configs & secrets
configs/config.yaml
configs/config.*.backup
.env
.env.local
.env.*.local
*.secret.*

# databases
*.db
*.sqlite
*.sqlite3
data/
db/

# logs
logs/
*.log
